h2{
    background-color: green;
}


.block{
    display: block;
    background-color: orange;
    width: 500px;
    
}


label{
    background-color: red;
}

.inline{
    background-color: pink;
    display: inline-block;
}

.inline-heading{
    display: inline;
}

.half-container{
    background-color: lightcoral;
    width: 50%;
}

.half-text{
    background-color: lightgreen;
    width: 50%;
}



.secondBlockExample{
    background-color: plum;
    padding: 10px 10px 10px 10px;
    margin-bottom: 80px;
    border: 2px solid black;
    border-radius: 4px;
}

.secondInlineExample{
    background-color: lightgreen;
}

.card{
    background-color:  lightblue;
    border-radius: 4px;
    padding: 8px 12px;
    width: 300px;
    border: 2px solid blue;

}

/* We use border box to make sure the outside box stays the same */
.card.fixed{
    box-sizing: border-box;
}