h2{
    background-color: green;
}


.block{
    display: block;
    background-color: orange;
    width: 500px;
    
}


label{
    background-color: red;
}

.inline{
    background-color: pink;
    display: inline-block;
}

.inline-heading{
    display: inline;
}

.half-container{
    background-color: lightcoral;
    width: 50%;
}

.half-text{
    background-color: lightgreen;
    width: 50%;
}