body{
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.container{
    width: 80%;
    padding: 12px;
    border: 2px dashed black;
    margin-bottom: 32px;
}

.container img{
    width: 250px;
    display: block;
}

/* Static Example */

.static{
    background-color: lightblue;
}

.static img{
    position: static;
    /* TOP and LEFT do not work because position is static */
    top: 20px;
    left: 20px;
}

/* Relative Example */

.relative{
    background-color: lightcoral;
}

.relative img{
    position: relative;
    top: 20px;
    left: 20px;
}


/* Absolute Example */

.absolute{
    background-color: lightgreen;
    position: relative;
}

.absolute img{
    width: 100px;

    /* Position absolute, it does not keep its position in the container*/
    position: absolute;
    right: 20px;
}

.fixed img{   /*It doesn't move*/                                               
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.sticky{
    background-color: lightsalmon;
    height: 400px;
    overflow: auto;
}

.sticky p{
    font-size: 32px;
}

.sticky img{ /*It moves around in the container but not outside of it*/
    position: sticky;
    top: 40px;
}